$sizing: 20px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: $sizing;
  }
  
  .main-title {
    text-align: center;
    padding: $sizing;
  }
  
  .accordion {
    max-width: auto;

    .accordion-title {
      padding: $sizing;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .accordion-title:hover {
      background-color: lightgrey;
    }

    .accordion-content {
      margin: $sizing;
    }
  }